{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Create Faculty Account</h3>
            <div class="text-center mb-4">
                <a href="principal_home" class="btn btn-outline-secondary">Home</a>
            </div>
            <form action="create_faculty_account" method="post" class="shadow p-4 bg-white rounded">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fname">Name:</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="fpass">Password:</label>
                    <input type="password" class="form-control" id="fpass" name="fpass" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create Account</button>
            </form>
            {% if msg %}
                <div class="alert alert-info mt-3">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
