{% extends 'base.html' %}

{% block title %}Check Attendance{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4">Check Attendance</h3>
            <div class="text-center mb-4">
                <a href="shome" class="btn btn-outline-secondary">Home</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Roll No.</th>
                            <th>Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ i.rollno }}</td>
                            <td>{{ i.sname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
